
.wholeBody{
    display:inline;
    background-color: aquamarine;
      
}

.navBar {
    background-color:black;
    height:60px;
    width:100%;
    padding:0;
    text-decoration: none;
    list-style-type: none;
}
.navBar
{
    margin:0;
}
.text
{
    
    color:white;
    font-size: 30px;
}