
.wholeBody{
    display:inline;
   
    background-color: aquamarine;
      
}

.navBar {
    background-color:black;
    height:50px;
    width:100%;
    margin:0;
    padding:0;
    
    text-decoration: none;
    list-style-type: none;
}
.a
{
    transform: translate(0px, -55px);
}
.text
{
    color:white;
}