body{
    background: -webkit-linear-gradient(left,white,#b3e3f0);
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius:0.5rem;
    background-color: wheat;
}
.profile-img {
    text-align: center;
    padding-left: 10%;
}

.profile-img img{
    width:150px;
    height:150px;
    
    float:left;
    border-radius: 20%;
    border: 5px solid #555;
}
.profile-head {
   margin-bottom: 3%;
}


.profile-head input{
    color:#333;
    border: none;
    outline:'none';
    background-color: wheat;
    margin:0%;
    

}
.profile-head  .name{
    font-weight: 700;
    font-size: 2.0rem;
}
.profile-head .work{
    
    color:#0062cc;
    font-size: 1.5rem;
}

.proile-rating{
    font-size: 12px;
    color: #818182;
    margin:0;
    /* float:right; */
}

.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
    margin:0;
}
textarea.description{
    width:100%;
    resize:none;
    height:45%;
    margin-bottom:5%;
    border: none;
    outline:'none';
    background-color: wheat;
}


.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #012821;
    border-radius: 20%;
}

.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.profile-work{
    margin:0;
    padding-left:0;
   
}
.profile-work p{
    width: 100%;
}
.profile-work p,.profile-work>i{
 
    display:inline-block;
   
}
.profile-work h6{
    font-size: 20px;
    color: #818182;
    font-weight: 600;

    
}
.profile-work ul {
    list-style-type: none;
    
    text-align:left;
    
}
.profile-work  .place,.address{
    outline:none;
    border: none;
    background-color: wheat;
}
.profile-work li{
    
    color: #495057;
    font-weight: 600;
    font-size: 20px;
}